m1/s1/xml-webservices/tp2/releve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xsd:element name="releve">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dateReleve" type="xsd:date"/>
                <xsd:element name="solde" type="xsd:decimal"/>
                <xsd:element name="operations">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="operation" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:attribute name="type" use="required">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="CREDIT"/>
                                                <xsd:enumeration value="DEBIT"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="date" type="xsd:date" use="required"/>
                                    <xsd:attribute name="montant" type="xsd:decimal" use="required"/>
                                    <xsd:attribute name="description" type="xsd:string" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="dateDebut" type="xsd:date" use="required"/>
                        <xsd:attribute name="dateFin" type="xsd:date" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="RIB" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>
