m1/s1/xml-webservices/tp1/meteo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:element name="meteo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mesure" type="T_Mesure" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="T_Mesure">
        <xsd:sequence>
            <xsd:element name="ville" type="T_Ville" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="date" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="T_Ville">
        <xsd:attribute name="nom" type="xsd:string" use="required"/>
        <xsd:attribute name="temperature" type="xsd:decimal" use="required"/>
    </xsd:complexType>
    
</xsd:schema>